@font-face {
  font-family: mainc;
  src: url(../fonts/Spell_2.ttf);
}
@font-face {
  font-family: texta;
  src: url(../fonts/Academy.Kz_.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Thin.otf);
}
@font-face {
  font-family: Fraunces;
  src: url(../fonts/Fraunces.ttf);
}

body {
  background-color: #fff;
  color: #1a1a1a;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  user-select: none;
}

::-webkit-scrollbar {
  background: none;
}
#up {
  width: 100%;
  height: 659px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-top: 15px;
  flex-direction: column;
  font-family: "mainc";
}
#uping {
  width: 80%;
  height: 75px;
  color: #2d2d2d;
  background-color: white;
  display: flex;
  gap: 20px;
}

#upim {
  height: 37px;
  display: flex;
  align-items: center;
  gap: 8px;
}
#uptex {
  height: 36px;
  width: 90%;
  display: flex;
}
#tex1 {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
#tex2 {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  color: #33383f;

  &:active {
    color: #000000;
  }
}
#b2 {
  background-color: #0070a0;
  color: white;
  &:active {
    color: #aaa;
  }
}
#b1 {
  color: #0070a0;
}
#texpup {
  background-color: white;
  width: 80%;
  height: 433px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#im {
  height: 422px;
  width: 452px;
}
#shap {
  height: 321px;
  width: 525px;
  background-color: white;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.h {
  font-family: "texta";
  font-size: 400%;
  line-height: 20px;
}
#shaptex1 {
  width: 351px;
  height: 90px;
  top: 3px;
  font-family: "mainc";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.shaptex2 {
  width: 174px;
  height: 43px;
  top: 265.72px;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-align: center;
  font-family: "mainc";
  color: white;
  background-color: #0070a0;
  &:active {
    color: #aaa;
  }
}
#shaptex3 {
  width: 196px;
  height: 27px;
  top: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-align: center;
  font-family: "mainc";
  color: #0070a0;
  &:active {
    color: #aaa;
  }
}
#rec {
  width: 1230px;
  height: 96px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #333;
}
#comp {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: center;
}
#fms {
  width: 80%;
  height: 250px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.block {
  height: 250px;
  width: 300px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #1a1a1a;
}
#fmsblock1 {
  background-color: #faea73d3;
}
#fmsblock2 {
  background-color: #cceff6d3;
}
#fmsblock3 {
  background-color: #f7cedcd3;
}
.miblock {
  width: 80%;
  margin-left: 30px;
  margin-right: 30px;
}
.hfms {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#das1 {
  position: relative;
  right: 60px;
}
#das2 {
  position: relative;
  right: 80px;
}
#das3 {
  position: relative;
  right: 60px;
}
#gltabl {
  height: 700px;
  width: 100%;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
#tabl {
  height: 540px;
  width: 80%;
  color: #2d2d2d;
  display: flex;
  flex-wrap: wrap;
}
#vnuttabl1 {
  height: 100px;
  width: 650px;
}
.hq2 {
  line-height: 40px;
  font-family: "texta";
}
#hq1 {
  font-size: 310%;
}
#hq2 {
  font-size: 280%;
}
#vnuttabl2 {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.stroch {
  width: 450px;
  border-bottom: 2px solid #c5c5c5;
  border-top: 2px solid #c5c5c5;
  margin: 1px;
}
.stroch h3 {
  font-weight: normal;
}
#stroch1 {
  height: 157px;
}
#stroch2 {
  height: 64px;
}
#stroch3 {
  height: 64px;
}
#stroch4 {
  height: 64px;
}
.im1 {
  position: relative;
  bottom: 5px;
  display: flex;
}
#vector1 {
  margin-left: 186px;
}
#vector2 {
  margin-left: 232px;
}
#vector3 {
  margin-left: 232px;
}
#vector4 {
  margin-left: 224px;
}
h2 {
  display: flex;
  margin-top: 15px;
}
#glblock5 {
  width: 80%;
  height: 220px;
  margin-top: 125px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#hvglavblock {
  height: 220px;
  width: 30%;
}
#hb1 {
  font-size: 350%;
}
#hb2 {
  font-size: 320%;
}
#tablglavblock {
  height: 220px;
  width: 55%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#textavtabl1 {
  height: 100%;
  width: 33%;
  background-color: #fff;
  margin-top: 45px;
}
#textavtabl2 {
  height: 100%;
  width: 33%;
  background-color: #fff;
}
#textavtabl3 {
  height: 100%;
  width: 33%;
  background-color: #fff;
}
.texta {
  display: flex;
  flex-direction: column;
}
.ima {
  width: 45px;
  height: 45px;
}
.texta p {
  margin-top: 10px;
}
#glblock6 {
  height: 550px;
  width: 100%;
  margin-top: 150px;
  background-color: #0070a0;
  color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}
#podblock6 {
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
#ppblock6 {
  height: 400px;
  width: 500px;
}
#pppbloki1 {
  height: 80px;
  width: 100%;
  font-size: 110;
}
#pppbloki2 {
  height: 100px;
  width: 100%;
}
.pppbloki3 {
  width: 175px;
  height: 50px;
  text-decoration: wavy;
  text-align: center;
  font-family: "mainc";
  color: white;
  background-color: #0070a0;
  &:active {
    color: #aaa;
  }
}
.ppptex1 {
  font-size: 250%;
  font-family: "Fraunces";
}
.ppptex2 {
  font-size: 250%;
  font-family: "Inter";
  font-weight: 100;
}

li {
  list-style-image: url("../imade/Vector3.svg");
}

#glblock7 {
  width: 80%;
  height: 410px;
  margin-top: 120px;
  gap: 80px;
  display: flex;
  flex-wrap: wrap;
}
.pod6block1 {
  width: 100%;
  height: 130px;
}
.button-a {
  color: #0070a0;
  width: 112px;
  height: 22px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: normal;

  &:active {
    color: #aaa;
  }
  .button-b {
    background-color: #e6f7ff;
  }
  #news {
    position: relative;
    right: 30px;
  }
}
.ppod6block1 {
  width: 30%;
  height: 50px;
  font-size: 200%;
  display: flex;
  align-items: center;
}
.ppod6block2 {
  width: 60%;
  height: 55px;
  font-size: 120%;
  display: flex;
  align-items: center;
}
#pod6block2 {
  width: 100%;
  height: 220px;
}
.ppodbloki {
  width: 235px;
  height: 220px;
}
#p {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
#fonglblock8 {
  width: 100%;
  height: 750px;
  background-color: #f7f9fa;
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#glblock8 {
  width: 80%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}
#ppblock8-1 {
  height: 70px;
  width: 100%;
  font-size: 200%;
  display: flex;
  justify-content: space-between;
}
#ppblock8-2 {
  height: 490px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#pppbloki8-1 {
  width: 335px;
  height: 490px;
}
#pppbloki8-2 {
  width: 355px;
  height: 490px;
}
#pppbloki8-3 {
  width: 355px;
  height: 490px;
}
#im8-1 {
  height: 238px;
  width: 100%;
  background-image: url(../imade/autotel.svg);
}
#im8-2 {
  height: 238px;
  width: 100%;
  background-image: url(../imade/compcan.svg);
}
#im8-3 {
  height: 238px;
  width: 100%;
  background-image: url(../imade/rukaour.svg);
}
#h8 {
  margin-top: 10px;
}
#p8 {
  font-size: 70%;
  margin-top: 25px;
  color: #0070a0;
  &:active {
    color: #000;
  }
}
.miblock8 {
  width: 100%;
  height: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.h8-1 {
  margin: 10px 20px 0px 20px;
  font-family: "Fraunces";
  font-size: 140%;
}
.miblock8-2 {
  margin: 10px 20px 0px 20px;
}
.miblock8-3 {
  margin: 20px 20px 0px 20px;
}
#glblock9 {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fonblock9 {
  width: 80%;
  height: 370px;
  background-color: #e6f7ff;
}
#block9 {
  width: 480px;
  height: 270px;
  margin: 25px;
  margin-left: 60px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
#h9-1 {
  font-size: 250%;
}
#ppblock9-1 {
  font-size: 120%;
}
#ppblock9-2 {
  margin-top: 30px;
}
#ppblock9-3 {
  display: flex;
  gap: 70px;
}
.im-9 {
  margin-right: 3px;
}
#glblock10 {
  width: 80%;
  height: 250px;
  margin-top: 10px;
}
#ppblock10-1 {
  width: 100%;
  height: 220px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
#tabl10-1 {
  display: flex;
  flex-direction: column;
}
#tabl10-1 img {
  width: 50px;
  height: 50px;
}
#ttab-1 {
  font-size: 170%;
  display: flex;
  height: 50px;
  width: 300px;
}
#ttab-1 h2 {
  position: relative;
  bottom: 10px;
}
#ttab-2 {
  width: 150px;
  height: 40px;
}
#p10-1::after {
  content: "Pippa";
  color: #0070a0;
}
#p10-2::after {
  content: "Vs code";
  color: #0070a0;
}
#p10-2 {
  position: relative;
  bottom: 15px;
}
#bl1 {
  margin-bottom: 10px;
  color: black;
  list-style: none;
  list-style-image: none;
}
#tabl10-2 li {
  list-style: none;
  list-style-image: none;
}
.li10{
  color: #a0a0a0;
}
#tabl10-3 li {
  list-style: none;
  list-style-image: none;
}
#tabl10-4{
  width: 220px;
  height: 220px;
}
#email{
  display: flex;
  gap: 40px;
  border-bottom:1px  solid #a0a0a0;
  padding-bottom: 4px;
}
#by{
  position: relative;
  margin-top: 25px;
  &::after{
    content: "Streamline";
    color: #0070a0;
  }
}
#ppblock10-2{
  border-top: solid 2px #a0a0a0;
  height: 60px;
}

